.card-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid gray;
  padding: 15px;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.04);
  }
  img {
    width: 220px;
    border-radius: 8px;
  }

  p {
    margin: 10px;
  }
}
